<!DOCTYPE html>
<html>
    <head>
        <script src="../static/cameras.js"></script>
    </head>
    <body>
        <button class="btn btn-default" id="" onclick="doGetDevicesInfo()">Enable</button>
        <button class="btn btn-default" id="startCamera1" onclick="doStartCamera(this)">Camera1</button>
        <button class="btn btn-default" id="startCamera2" onclick="doStartCamera(this)">Camera2</button>
    </body>
    <br\>
    <div id="cam">
            <!-- <i class="fa-regular fa-map"></i> -->
        <video id="camera1" controls autoplay></video>
        <video id="camera2" controls autoplay></video>
    </div>

</html>