<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="/icon.png" />

    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
      integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
      crossorigin=""
    />
    <script
      defer
      src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
      integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
      crossorigin=""
    ></script>

    <script
      defer
      src="https://kit.fontawesome.com/f49056e932.js"
      crossorigin="anonymous"
    ></script>

    <script defer src="{{ url_for('static', path='/script.js') }}" ></script>
    <script src="a.js?2"></script>
    <title>Detection Dashboard</title>
  </head>
  <body>
    <div class="navbar">
      <a href="main.html" class="active">Home</a><br />
      <a href="#">Reports</a><br />
      <a href="#">Logs</a><br />
      <a href="#"
        ><i
          class="fa-solid fa-cog fa-spin fa-2x"
          style="--fa-animation-duration: 15s"
        ></i></a
      ><br />
      <a href="#"><i class="fa-solid fa-user fa-2x"></i></a><br />
    </div>
    <br />
    <br />
    <div class="sidebar">
      <div class="options">
        <br />
        <ul class="buttons">
          <button
            id="switchButtons"
            class="button"
            type="button"
            onclick="swap()"
          >
            <i class="fa-solid fa-video"></i>
          </button>
          <br />
          <br />
          <div class="apitest">
            <button onclick="getPoints()">Get API data</button>
            <div id="result-container"></div>
          </div>
          <!-- <button class="button" type="button" onclick="app._loadMap()">
            map
          </button> -->
        </ul>
      </div>
    </div>

    <div id="map"></div>
    <div id="cam">
      <!-- <i class="fa-regular fa-map"></i> -->
      <video autoplay="true" id="videoE"></video>
    </div>
  </body>
</html>
